---
import { generics } from 'data/generics'
---

<div class="block w-24">
	<img src={generics.logoUrl} alt="logo" />
</div>

<style>
	.cadd-logo:hover {
		text-decoration: underline;
		cursor: pointer;
	}
</style>
