---
import { BlogPostsList, Container, TextCardSection } from '@components/odyssey-theme'
import { dates } from '@utils/dates'
// import NewsletterForm from "../../components/forms/NewsletterForm.astro";
import Layout from '../../layouts/Page.astro'

const posts = Object.values(await import.meta.glob('./posts/*.mdx', { eager: true }))
  .map(({ frontmatter, url }) => ({
    title: frontmatter.title,
    description: frontmatter.description,
    authors: frontmatter.authors,
    eventDate: frontmatter.eventDate,
    featuredImage: frontmatter.featuredImage,
    excerpt: frontmatter.excerpt,
    href: url,
  }))
  .sort((a, b) => {
    if (dates.isBefore(a.eventDate, b.eventDate)) return 1
    if (dates.isBefore(b.eventDate, a.eventDate)) return -1
    return 0
  })
// )

const seo = {
  title: 'Blog | Astro Odyssey Theme',
  description: 'Astro Odyssey Theme Blog Page',
}
---

<Layout {seo}>
  <Container>
    <TextCardSection>
      <h1>Évènements</h1>
      <p>
        Découvrez les évènements passés et à venir proposés par le café ADD.
      </p>
      <!-- <NewsletterForm /> -->
    </TextCardSection>
    <section class="blog-posts-list__section">
      <BlogPostsList posts={posts} />
    </section>
  </Container>
</Layout>

<style>
  .blog-posts-list__section {
    margin: var(--section-margin) auto;
  }
</style>
